<!DOCTYPE html>
<html lang="en">
<body>
    <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <br><br> <br><br> <br><br>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="box">
                    <p class='title'>Intellectual Screening Test</p>
                    <div class="alert alert-danger" *ngIf=errorstatus>
                        <p>Email Already exist</p>
                    </div>
                    <img src="assets/img/logo1.png" class="col-xs-4">
                    <form (ngSubmit)="onSubmit(form)" #form='ngForm'>
                        <input type="text" placeholder="username" name="username" ngModel required [pattern]="usernamepattern" #username="ngModel">
                        <span *ngIf="username.invalid&&username.touched">*username must be >= 6 character*</span>
                        <input type="text" placeholder="Email-Id" name="email" ngModel required [pattern]="emailpattern" #email="ngModel">
                        <span *ngIf="email.invalid&&email.touched">*Invaild Email*</span>
                        <input type="password" placeholder="Password"name="password" ngModel required [pattern]="passwordpattern" #password="ngModel">
                        <span *ngIf="password.invalid&&password.touched">*password must be >=7 character*</span>
                        <button type="submit" class="btn btn-success" [disabled]="!form.valid">Signup</button>
                        <a routerLink="/signin">Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
