<section style="height:auto;width:1600px; position: fixed;" [ngStyle]="{'background': 'url(' + backgroundUrl + ') no-repeat 0 0 / cover'}" class="slider flex-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="box">
                    <h1 class='title'>WELFARE PORTAL</h1>
                    <div class="alert alert-danger" *ngIf="errorstatus">
                        <p>Incorrect Email or Password</p>
                    </div>
                    <img src="assets/main_logo.png" class="col-xs-5">
                    <form (ngSubmit)="onSubmit(form)" #form='ngForm'>
                        <select id="radio" style="width: 140px; height: 30px;" name="user" ngModel required>
                            <option value="">Select your role</option>
                            <option value="admin">Admin</option>
                            <option value="welfare">Welfare</option>
                            <option value="donor">Donor</option>
                          </select>
                        <input type="text" class="input" placeholder="Email-Id" name="email" ngModel required [pattern]="emailpattern" #email="ngModel">
                        <span *ngIf="email.invalid&&email.touched">*Invaild Email*</span>
                        <input type="password" class="input" placeholder="password" name="password" ngModel required [pattern]="passwordpattern" #password="ngModel">
                        <span *ngIf="password.invalid&&password.touched">*password must be >=7 character*</span> 
                        <button type="submit" class="btn btn-success" [disabled]="!form.valid" >Sign in</button>
                        <a routerLink="/auth/signup">Back to SignUp</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav class="down">
        <ul class="navbar navbar-fixed-bottom">
          <li style="font-size: 15px; text-align: right; color: white;"><b>Powered By</b></li>
          <li style="text-align: right; color: white;"><b> Team RASHSANA</b></li>
        </ul>
    </nav>