<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <h4>Make a Post</h4>
                <hr>
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
                    <label>Description<textarea rows="20" cols="40" name="desc" class="form-control" required ngModel #desc='ngModel'></textarea>
                    <h3>Select the category of your needs</h3>
                    <label>
                    <input type="radio" name="category" ngModel required value="School Necessities">School Necessities<br>
                    <input type="radio"  name="category" ngModel required value="HouseHold Needs">HouseHold Needs<br>
                    <input type="radio"  name="category" ngModel required value="Land and Sustainability">Land and Sustainability<br>
                    <input type="radio"  name="category" ngModel required value="Donation for Service">Donation for Service</label><br>    
                    <span *ngIf="desc.invalid&&desc.touched">*Invalid*</span></label><br>
                    <input type="submit" class="btn btn-primary" id="submit" [disabled]="!f.valid" value="Save"><p></p>
                    <input type="button" class="btn btn-danger" value="Back" style="margin-bottom: 10px;" routerLink="/welfare/post">
                    </form>
            </div>
            </div>
        </div>
</div>
