<div class="container">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" (click)="category('All Category')" style="cursor: pointer;">All Category</li>
            <li class="list-group-item" (click)="category('School Necessities')" style="cursor: pointer;">School Necessities</li>
            <li class="list-group-item" (click)="category('HouseHold Needs')" style="cursor: pointer;">HouseHold Needs</li>
            <li class="list-group-item" (click)="category('Land and Sustainability')" style="cursor: pointer;">Land and Sustainability</li>
            <li class="list-group-item" (click)="category('Donation for Service')" style="cursor: pointer;">Donation for Service</li>
          </ul>
    </div>
</div>