<button class="btn btn-primary" id="create" routerLink="/welfare/post/createpost">Create Post</button>
<br><br>
   <div class="container" *ngFor="let post of welfare.post">
   <div class="panel panel-success">
    <div class="panel panel-heading">
      <div class="panel-title">
        <h3>{{post.orgname}} #{{post.cate}}</h3>
        <p style="text-align: right;">By {{post.firstname}} {{post.lastname}}</p>
        </div>              
    </div>
    <div class="panel-body">
      <p>{{post.desc}}</p>
      <div class="panel-footer">
        <ul class="list-inline">
          <li><span class="glyphicon glyphicon-envelope"> {{post.email}}</span></li>|
          <li><span class="glyphicon glyphicon-home"> {{post.address}}</span></li>|
          <li><span>PinCode {{post.pincode}}</span></li>|
          <li class="glyphicon glyphicon-calendar"><span> {{ post.time | date:'medium'}}</span></li>|
          <li class="list-inline glyphicon glyphicon-phone"> {{post.phonenumber}}</li>
          </ul>
      </div>
      </div>
</div>
</div>