<app-loader *ngIf="isloading"  style="margin-left: 750px;"></app-loader>
<nav class="navbar navbar-inverse" *ngIf="!isloading">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
<table class="table" *ngIf="!isloading">
    <thead>
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Organization Id</th>
        <th scope="col">Organization Name</th>
        <th scope="col">Email</th>
        <th scope="col">PhoneNumber</th>
        <th scope="col">MakeActive</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of this.admin.welfare">
        <td>{{data.userid}}</td>
        <td>{{data.firstname}}</td>
        <td>{{data.lastname}}</td>
        <td>{{data.orgid}}</td>
        <td>{{data.orgname}}</td>
        <td>{{data.email}}</td>
        <td>{{data.phonenumber}}</td>
        <td><button (click)="makeactive(data.userid,data.email)">Activate</button></td>
      </tr>
    </tbody>
  </table>