<h3 class="alert alert-success" *ngIf="this.status">wait for the welfare organizer to contact you</h3>
<h4 style="text-align: center;">Welfare organization Post</h4>
   <div class="container" *ngFor="let post of donor.allpost">
    <div class="panel panel-primary">
     <div class="panel panel-heading">
       <div class="panel-title">
         <h3 (click)="getaccount(post.userid)" style="cursor: pointer;">{{post.orgname}}  #{{post.cate}}</h3>
         <p style="text-align: right;">By {{post.firstname}} {{post.lastname}}</p>
         </div>              
     </div>
     <div class="panel-body">
       <p>{{post.desc}}</p>
       <div class="panel-footer">
         <ul class="list-inline">
           <li><span class="glyphicon glyphicon-envelope"><a (click)="mailme(post.email)" style="cursor: pointer;"> {{post.email}}</a></span></li>|
           <li><span class="glyphicon glyphicon-home"> {{post.address}}</span></li>|
           <li><span>PinCode {{post.pincode}}</span></li>|
           <li class="glyphicon glyphicon-calendar"><span> {{ post.time | date:'medium'}}</span></li>|
           <li class="list-inline glyphicon glyphicon-phone"> {{post.phonenumber}}</li><br><br>
           <div>
             <form #form='ngForm'>
               <label>Mode of Donation<br>
                <input type="radio" name="mode" ngModel required value="Direct Visit">Direct Visit
                <input type="radio" name="mode" ngModel required value="Shipping">Shipping
                <input type="radio" name="mode" ngModel required value="Payment">Payment
               </label><br>
              <button class="btn btn-primary" (click)="makedonate(post.email,post.desc,form.value.mode)" [disabled]="!form.valid">Donate</button>
             </form>
           </div>
           </ul>
       </div>
       </div>
 </div>
 </div>