.box{
    margin-left: 300px;
    width: 500px;
    height:auto;
    box-shadow: 5px 10px 8px #888888;
    background-color: white;
}
form{
    text-align: center;
}
span{
    color: red;
}
input{
    border-radius: 3px;
}
#submit{
    margin-bottom: 10px;
}
label{
    color: darkblue;
}
a{
    padding: 5px;
    margin-left: 100px;
}