<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <h4>Edit Profile</h4>
                <hr>
                <form (ngSubmit)="onSubmit(form)" #form='ngForm' class="form-group">
                   <label>Firstname*<input class="form-control" type="text" name="firstname" required ngModel [pattern]="namepattern" #fn='ngModel'>
                    <span *ngIf="fn.invalid&&fn.touched">*Invalid*</span></label><br>
                    <label>Lastname*<input class="form-control" type="text" name="lastname"  required ngModel [pattern]="namepattern" #ln='ngModel'>
                    <span *ngIf="ln.invalid&&ln.touched">*Invalid*</span></label><br>
                    <label *ngIf="group=='welfare'">organization name
                        <input type="text" name="orgname"  ngModel required #org='ngModel' class="form-control" [pattern]="name">
                    </label><br>
                    <label>Address*<br>
                    <textarea  class="form-control" name="address" rows="6" cols="30" required ngModel #add='ngModel'></textarea>
                    <span *ngIf="add.invalid&&add.touched">*Invalid*</span></label><br>
                    <label for="pincode">Pincode*
                        <input type="text" name="pincode" ngModel required #pin='ngModel' class="form-control" [pattern]="pinpattern">
                        <span *ngIf="pin.invalid&&pin.touched">*Invalid*</span></label><br>
                    <label>Phone Number*<input class="form-control" type="text" name="phonenumber" required ngModel [pattern]="phonenopattern" #ph='ngModel'>
                    <span *ngIf="ph.invalid&&ph.touched">*Invalid*</span></label><br><br>
                    <input type="submit" class="btn btn-primary" id="submit" [disabled]="!form.valid" value="Save"><p></p>
                    <input type="button" class="btn btn-danger" value="Back" style="margin-bottom: 10px;" routerLink="/{{group}}/profile">
                    </form>
            </div>
            </div>
        </div>
</div>