<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <h4>SignUp</h4>
                <hr>
                <form (ngSubmit)="onSubmit(form)" #form='ngForm' class="form-group">
                   <label>Firstname*<input class="form-control" type="text" name="firstname" required ngModel [pattern]="namepattern" #fn='ngModel'>
                    <span *ngIf="fn.invalid&&fn.touched">*Invalid*</span></label><br>
                    <label>Lastname*<input class="form-control" type="text" name="lastname"  required ngModel [pattern]="namepattern" #ln='ngModel'>
                    <span *ngIf="ln.invalid&&ln.touched">*Invalid*</span></label><br>
                    <label>Email*<input class="form-control" type="text"  name="email" required [pattern]="emailpattern" ngModel #email='ngModel'>
                    <span *ngIf="email.invalid&&email.touched">*Invalid*</span></label><br>
                    <label>select one*<br>
                    <input type="radio" name="group" value="welfare" ngModel required #wel='ngModel'>Welfare organization<br>
                    <input type="radio" name="group" value="donor" ngModel required>Donor</label><br>
                    <label *ngIf="wel.value=='welfare'">organization name
                        <input type="text" name="orgname" ngModel required #org='ngModel' class="form-control" [pattern]="name">
                    </label><br>
                    <label *ngIf="wel.value=='welfare'">organization ID
                        <input type="text" name="orgid" ngModel required #org='ngModel' class="form-control">
                    </label><br>
                    <label>Address*<br>
                    <textarea  class="form-control" name="address" rows="6" cols="30" required ngModel #add='ngModel'></textarea>
                    <span *ngIf="add.invalid&&add.touched">*Invalid*</span></label><br>
                    <label for="pincode">Pincode*
                        <input type="text" name="pincode" ngModel required #pin='ngModel' class="form-control" [pattern]="pinpattern">
                        <span *ngIf="pin.invalid&&pin.touched">*Invalid*</span></label><br>
                    <label>Phone Number*<input class="form-control" type="text" name="phonenumber" required ngModel [pattern]="phonenopattern" #ph='ngModel'>
                    <span *ngIf="ph.invalid&&ph.touched">*Invalid*</span></label><br>
                    <label>password*<input class="form-control" type="password" name="password" required ngModel [pattern]="passwordpattern" #pass='ngModel'>
                    <span *ngIf="pass.invalid&&pass.touched">*Invalid,Must have more than 6 character*</span></label><br><br>
                    <br>
                    <div class="alert alert-danger" role="alert" *ngIf="errorstatus">
                        user already Exist
                      </div>
                    <br>
                    <input type="submit" class="btn btn-primary" id="submit" [disabled]="!form.valid">
                    <a routerLink="/auth/signin">Login</a>
                    </form>
            </div>
            </div>
        </div>
</div>
<br><br>
<nav class="down">
    <ul class="navbar navbar-fixed-bottom">
      <li style="font-size: 15px; text-align: right; color:white;"><b>Powered By</b></li>
      <li style="text-align: right; color: white;"><b> Team RASHSANA</b></li>
    </ul>
</nav>